PUBLIC_FACTORY="CD5QFGMCJ7CAL77GPTJ5MYABV6N3T4D7677S27ZOMC5B76BK4OBHJKKQ"
PUBLIC_ZAFEGARD_POLICY_WASM="1cb698e2c89ca071cf7783187d7a15dd161a164fc7c9319204ae6afd4e8b6aec"
PUBLIC_NATIVE="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
PUBLIC_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
PUBLIC_LAUNCHTUBE_URL="https://testnet.launchtube.xyz"

PUBLIC_LAUNCHTUBE_JWT="<get one at https://testnet.launchtube.xyz/gen>"
