PUBLIC_WALLET_WASM_HASH="3f2ae5d6bfe83f25fd4263eb2a344ced3c9e4f81fa952f19e67c0b16a81a4296"
PUBLIC_ZAFEGARD_POLICY_WASM="1cb698e2c89ca071cf7783187d7a15dd161a164fc7c9319204ae6afd4e8b6aec"
PUBLIC_NATIVE="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
PUBLIC_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
PUBLIC_LAUNCHTUBE_URL="https://testnet.launchtube.xyz"
PUBLIC_LAUNCHTUBE_JWT="<get one at https://testnet.launchtube.xyz/gen>"